<!-- views/partials/footer.ejs -->
</div> <!-- Close container -->
<footer class="text-center mt-4 mb-3 text-muted">

    <p class="text-center border-bottom border-danger">Made by Mahboba</p>
</footer>
</body>

</html>